* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.CartWidget {
  cursor: pointer;
  margin: 0 54px 0 0;
}
.imgBurgerS{
  object-fit: cover;
  width: 254px;
  height: 212px;
  margin: auto;
}


@media screen and (max-width: 768px) {
  .CartWidget {
    position: absolute;
    float: right;
    margin: 0 0 0 120px;
  }
}

/*Cards */
@media screen and (max-width: 768px) {
  #dataBurger {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
}

/* Button Item Count*/

.ContainerItemCount{
  display: flex;
  justify-content: center;

}
.buttonItemCount {
 
 
  display: inline-block;
  outline: 0;
  border: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 4px;
  font-size: 13px;
  height: 30px;
  background-color: #0000000d;
  color: #0e0e10;
  padding: 0 10px;}
  .buttonItemCount:hover {
      background-color: #0000001a;
  }


/* FOOTER */
footer {
  background-color: #111;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  footer {
    flex-direction: column;
    justify-content: center;
  }
}

footer .web-map {
  display: flex;
}

footer .web-map ul {
  list-style: none;
  margin: 40px;
  padding-left: 0;
}

@media screen and (max-width: 768px) {
  footer .web-map ul {
    width: 50%;
  }
}

footer .web-map ul li {
  margin-bottom: 8px;
  cursor: pointer;
}

footer .web-map ul .big-link {
  font-size: 0.8rem;
  font-weight: 700;
}

footer .web-map ul .small-link {
  font-size: 0.7rem;
  font-weight: 400;
  color: #7e7e7e;
}

footer .web-map ul .small-link:hover {
  color: #fff;
}

footer .social-icons {
  display: flex;
  justify-content: center;
  margin: 40px;
}

footer .social-icons ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

footer .social-icons ul li {
  margin-right: 20px;
}

footer .social-icons ul li svg {
  cursor: pointer;
}

footer .social-icons ul li svg:hover {
  fill: #fff;
}